/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015/05/22, 9:45:51
    Author     : lepra25-pc
*/


body {
    text-align:center;
}
#header {
    width:100%;
    height:100px;

    border-bottom: thin solid #336600;
    //background-color: #FFFFFF;
    text-align:left;
    margin-bottom:5px;
    padding-top:5px;
    padding-bottom:5px;
}

#logout{
    text-align: right;
}


#container {
    width:960px;
    border: thin solid #336600;
    background-color: #F2FFEE;
    text-align:left;
    padding:5px;
}
#sidebar01 {
    width:155px;
    border: thin solid #336600;
    float:left;
    background-color: #FFFFFF;
    text-align:left;
    //height:300px;
    margin-right:5px;
}

.categoryTitle{
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
    padding-bottom: 5px;
    border-bottom:1px dotted;
}

.categoryDetails{
    font-size: 14px;
    margin: 10px;
    padding-bottom: 5px;
}

.articleListTitle{
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
    padding-top:5px;
    padding-bottom: 5px;
    border-top:1px dotted; 
    border-bottom:1px dotted; 
}

.articleList{
    font-size: 14px;
    margin: 10px;
    padding-bottom: 5px;
}

#content {
    width:600px;
    //border: thin solid #336600;
    float:left;
    //background-color: #FFFFFF;
    text-align:left;

}

#content .article{
    width:590px;
    border: thin solid #336600;
    background-color: #FFFFFF;
    text-align:left;
}



.articleTitle{
    color:#008000;
    font-weight: bold;
    border-bottom:1px dotted;
    margin: 5px;
    padding-bottom: 5px;

}

.date{
    margin: 5px;
    font-size: 14px;
    color:#c0c0c0;
}

.details{
    margin: 5px;
    font-size: 16px;
}

.articleEdit{
    text-align: right;
    margin:5px;
}

#content .comment{
    width:590px;
    border: thin solid #336600;
    background-color: #FFFFFF;
    text-align:left;
}

.comadd{
    text-align:center;
    margin: 5px;
}

.commentTitle{
    border-bottom:1px dotted;
    margin: 5px;

}

.comment_user{
    font-size: 14px;
    color:#0000ff;
    margin: 5px;
}

.comment_details{
    font-size: 16px;
    border-bottom:1px dotted;
    margin: 5px;
    padding-bottom: 5px;
}

.comback{
    padding-left: 5px;
}

.comnext{
    padding-left: 5px;
}

#sidebar02 {
    width:180px;
    border: thin solid #336600;
    float:right;
    background-color: #FFFFFF;
    text-align:left;
}

.calendar{
    border: thin solid #336600;
    margin: 5px;
}

.calHeader{

    padding-left:25px;
}

.calTable{
    padding-left:10px;
    padding-bottom: 5px;
}

#sidebar02 #userprofile .profileLabel{
    font-weight: bold;
    text-align: center;
    border-bottom:1px dotted;
    padding-bottom: 5px;
}

#sidebar02 #userprofile .profileUsername{
    border-bottom:1px dotted;
    padding: 5px;
}

#sidebar02 #userprofile .profileHome{
    border-top:1px dotted;
    border-bottom:1px dotted;
    padding: 5px;
}

#sidebar02 #userprofile .profileMyselfLabel{
    font-weight: bold;
    padding-left: 5px;
}

#sidebar02 #userprofile .profileMyself{
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

#footer {
    width:100%;
    height:30px;
    clear:both;
    background-color: #F2FFEE;
    text-align:right;
    margin-top:5px;
}

#form{
    background-color: #F2FFEE;
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #555;
}

.form-title{
    text-align: center;
}

.loginid,
.password {
    width: 300px;
    padding: 4px;
    font-size: 14px;
}

.day{
    text-align: right;
}

.submit{
    text-align: right;
}

